.container(ng-show='isVisible(10, step)')
  .left.form
    .row
      heading
      h2.subtitle
        | Here's your embed code &nbsp;

      #embed-code.row.text-box.copy-code
        | &ltscript type="text/javascript" src="https://tool.votinginfoproject.org/app.js"&gt&lt/script&gt
        | &ltdiv id="_vit"&gt&lt/div&gt
        | &ltscript type="text/javascript"&gtvit.load({
        br
        span     modal: true,
        br(ng-if="selectedTheme != '' && selectedTheme != 'No Theme'")
        span(ng-if="selectedTheme != '' && selectedTheme != 'No Theme'")     theme: '{{ themeUrl(selectedTheme) }}',
        br
        span(ng-if="officialOnly")     officialOnly: true,
        br(ng-if="officialOnly")
        span(ng-if="title")     title: '{{ title }}',
        br(ng-if="title")
        span(ng-if="subtitle")     subtitle: '{{ subtitle }}',
        br(ng-if="subtitle")
        span(ng-if="selectedFormat == '640x480 - Fixed height and width'")
          |     width: '640px',
          |     height: '480px',
        span(ng-if="selectedFormat == '320x240 - Fixed height and width'")
          |     width: '320px',
          |     height: '240px',
        br(ng-if="selectedFormat.length > 0")
        span(ng-if="selectedLogoOption == 'Custom'")     logo: '{{ logoUrl }}',
        br(ng-if="selectedLogoOption == 'Custom'")
        span(ng-if="selectedLogoOption == 'State Seal' && selectedState != 'Default'")     logo: '{{ stateSealUrl(selectedState) }}',
        br(ng-if="selectedLogoOption == 'State Seal' && selectedState != 'Default'")
        span(ng-if="selectedTileBarColor")     colors: {
          |       'header': '{{ selectedTileBarColor }}',
          |       'landscapeBackgroundHeader': '{{ selectedSecondaryTileBarColor }}'
          |     },
        br(ng-if="selectedTileBarColor")
        span(ng-if="alertTextEnabled")     alertText: '{{ alertText }}',
        br(ng-if="alertTextEnabled")
        span(ng-if="selectedLanguage")     language: '{{ languages[selectedLanguage] }}',
        br(ng-if="selectedLanguage")
        span(ng-if="advancedCustomizationChanged")     json: {
          |       text: {
          |         headers: {
          |           pollingLocation: '{{pollingLocationLabel}}'
          |         },
          |         resources: {
          |           electionAdministration: {
          |             stateElectionsOffice: '{{stateElectionsOfficeLabel}}'
          |           },
          |           moreResources: {
          |             electionInformationUrl: '{{electionInformationLabel}}',
          |             registrationConfirmationUrl: '{{registrationConfirmationLabel}}',
          |             absenteeVotingInformationUrl: '{{absenteeVotingInformationLabel}}',
          |             votingLocationFinderUrl: '{{votingLocationFinderLabel}}',
          |             ballotInformationUrl: '{{ballotInformationLabel}}'
          |           }
          |         }
          |       }
          |    }
        br(ng-if="advancedCustomizationChanged")
        | });&lt/script&gt

  .options
    .option.highlighted.embed-button(ng-click="startOver()") Start over
    //- .option.highlighted.embed-button(id="copy-code-button" ng-hide="isiOS()" ng-click="flashButtonClickWorkaround()" clip-copy="getTextToCopy()" clip-click-fallback="clipFallback(copy)") Copy code
    .option.highlighted.embed-button(ng-click="emailCode()") E-Mail code
    a(href="mailto:info@votinginfoproject.org" class="need-help")
      .option.highlighted.embed-button Need help?
