<div ng-show="isVisible(10, step)" class="container"><div class="left form"><div class="row"><heading></heading><h2 class="subtitle">Here's your embed code &nbsp;</h2><div id="embed-code" class="row text-box copy-code">&ltscript type="text/javascript" src="https://tool.votinginfoproject.org/app.js"&gt&lt/script&gt
&ltdiv id="_vit"&gt&lt/div&gt
&ltscript type="text/javascript"&gtvit.load({<br/><span>    modal: true,</span><br ng-if="selectedTheme != '' &amp;&amp; selectedTheme != 'No Theme'"/><span ng-if="selectedTheme != '' &amp;&amp; selectedTheme != 'No Theme'">    theme: '{{ themeUrl(selectedTheme) }}',</span><br/><span ng-if="officialOnly">    officialOnly: true,</span><br ng-if="officialOnly"/><span ng-if="title">    title: '{{ title }}',</span><br ng-if="title"/><span ng-if="subtitle">    subtitle: '{{ subtitle }}',</span><br ng-if="subtitle"/><span ng-if="selectedFormat == '640x480 - Fixed height and width'">    width: '640px',
    height: '480px',</span><span ng-if="selectedFormat == '320x240 - Fixed height and width'">    width: '320px',
    height: '240px',</span><br ng-if="selectedFormat.length &gt; 0"/><span ng-if="selectedLogoOption == 'Custom'">    logo: '{{ logoUrl }}',</span><br ng-if="selectedLogoOption == 'Custom'"/><span ng-if="selectedLogoOption == 'State Seal' &amp;&amp; selectedState != 'Default'">    logo: '{{ stateSealUrl(selectedState) }}',</span><br ng-if="selectedLogoOption == 'State Seal' &amp;&amp; selectedState != 'Default'"/><span ng-if="selectedTileBarColor">    colors: {
      'header': '{{ selectedTileBarColor }}',
      'landscapeBackgroundHeader': '{{ selectedSecondaryTileBarColor }}'
    },</span><br ng-if="selectedTileBarColor"/><span ng-if="alertTextEnabled">    alertText: '{{ alertText }}',</span><br ng-if="alertTextEnabled"/><span ng-if="selectedLanguage">    language: '{{ languages[selectedLanguage] }}',</span><br ng-if="selectedLanguage"/><span ng-if="advancedCustomizationChanged">    json: {
      text: {
        headers: {
          pollingLocation: '{{pollingLocationLabel}}'
        },
        resources: {
          electionAdministration: {
            stateElectionsOffice: '{{stateElectionsOfficeLabel}}'
          },
          moreResources: {
            electionInformationUrl: '{{electionInformationLabel}}',
            registrationConfirmationUrl: '{{registrationConfirmationLabel}}',
            absenteeVotingInformationUrl: '{{absenteeVotingInformationLabel}}',
            votingLocationFinderUrl: '{{votingLocationFinderLabel}}',
            ballotInformationUrl: '{{ballotInformationLabel}}'
          }
        }
      }
   }</span><br ng-if="advancedCustomizationChanged"/>});&lt/script&gt</div></div></div><div class="options"><div ng-click="startOver()" class="option highlighted embed-button">Start over</div><div ng-click="emailCode()" class="option highlighted embed-button">E-Mail code</div><a href="mailto:info@votinginfoproject.org" class="need-help"><div class="option highlighted embed-button">Need help?</div></a></div></div>