.container(ng-show='isVisible(0, step)',
  ng-init="step = 0; logoUrls={'default': 'img/vip-logo.png', 'New York': 'img/new-york.svg'}; selectedState = 'Default'")
  .left.form
    .row
      img.vip-logo(
        src='img/vip-logo.png')

      h1.vip-name
        | Voting Information Project
    //- .row
    //-   h1.title
    //-     | Welcome
    //-     | Place copy here

    //- .row.text-box
    //-   span
    //-     | Lorem ipsum Incididunt ullamco labore aliqua culpa pariatur sed. Lorem ipsum Voluptate ea velit nostrud Duis aliquip consectetur magna consequat. Lorem ipsum Qui ut aute minim aute dolor aliqua qui laborum ad esse. Lorem ipsum Sed in Excepteur Ut magna enim. Lorem ipsum In minim ex fugiat laborum commodo. Lorem ipsum Est quis consectetur nostrud amet incididunt incididunt laborum. Lorem ipsum Laboris dolore ad amet in cupidatat ut cillum ea anim in. Lorem ipsum Deserunt voluptate consectetur voluptate Excepteur magna pariatur.