.container.instructions(ng-show='isVisible(0, step)',
  ng-init="step = 0; logoUrls={'default': 'img/vip-logo.png', 'New York': 'img/new-york.svg'}; selectedState = 'Default'")
  .left.form
    .row
      img.vip-logo(
        src='img/vip-logo.png')

      h1.vip-name
        | Voting Information Project
    .row
      h1.title
        | Embeddable Tool
        | Customizer

    .row.text-box
      span
        | Use this tool to customize the look and feel of the Voter Information Project Embeddable Tool to fit with the design of your website. Follow the steps and observe the preview on the right until you are satisfied. Then copy the provided code and include it on your website.