.container.instructions(ng-show='isVisible(0, step)',
  ng-init="step = 0")
  .left.form
    .row
      img.vip-logo(
        src='img/vip-logo.png')

      h1.vip-name
        | Voting Information Project
    .row
      h1.title
        | Embeddable Tool
        | Customizer

    .row.text-box
      span
        | The Voting Information Tool (VIT) is an easily embeddable, mobile-optimized, white-label voting information tool that offers official voting information–such as polling place and ballot information–to anyone, using just a residential address. The tool can be embedded easily on any website and supports multiple languages.
        br
        br
        | Using this widget you can easily customize the VIT by adding a state seal or your organization’s logo, including a custom alert, such as “Don’t forget to vote on Election Day!”, or by modifying the colors.