.right.preview(ng-class="{'mobile-hidden': step == 0 || step == 8}" ng-init="deviceDimensions = { desktop: [320, 240], tablet: [320, 240], phone: [165, 285] }; deviceOptions = ['desktop', 'tablet', 'phone']")
  dropdown(
    default-text="DESKTOP PREVIEW"
    options="['desktop', 'tablet', 'phone']"
    set-value="setPreviewOption(value)"
    my-class="small"
  )
  //- .dropdown.small
  //-   .dropdowns(
  //-     ng-click='showDeviceDropdown = !showDeviceDropdown')
  //-     span {{ selectedDevice + ' preview' || "Desktop Preview" }}

  //-     .dropdown-button
  //-       span.dropdown-arrow

  //-   ul(
  //-     ng-class='{open: showDeviceDropdown}')
  //-     li(
  //-       ng-repeat='option in deviceOptions',
  //-       ng-mouseover='$parent.selectedDevice = option',
  //-       ng-click='$parent.showDeviceDropdown = !showDeviceDropdown')
  //-       {{ option }} preview

  include ./devices/device-icons.jade

  //-
  //- SEARCH SCREEN PREVIEWS:
  //-
  //-
  .device-wrapper
    .row(ng-init="selectedDevice='tablet'" class="device-preview-1" ng-class="isFirstVisible() ? 'show-device-preview' : 'hide-device-preview'")

      include ./devices/desktop-search.jade

      include ./devices/tablet-search.jade

      include ./devices/phone-search.jade

    //-
    //- MAP SCREEN PREVIEWS:
    //-
    //-
    .row(class="device-preview-2" ng-class="isFirstVisible() ? 'hide-device-preview' : 'show-device-preview'")

      include ./devices/desktop-map.jade

      include ./devices/tablet-map.jade

      include ./devices/phone-map.jade
