.container(ng-show='isVisible(7, step)')
  .left.form
    .row
      h2.subtitle.step
        | Step {{ step }} of 8
      h2.subtitle
        | Language Option

      dropdown(
        default-text="Select a language"
        options="languageNames",
        set-value="setLanguage(value)")