.container(ng-show='isVisible(5, step)')
  .left.form
    .row
      h2.subtitle.step
        | Step {{ step }} of 8
      h2.subtitle
        | Format

      dropdown(
        default-text="Select an embed format"
        selected-value="selectedFormat"
        options="formats"
        set-value="setFormat(value)")