.container(ng-show='isVisible(1, step)')
  .left.form
    .row
      heading
      h2.subtitle
        | Select your theme

      dropdown(
        default-text="Select a Theme"
        selected-value="selectedTheme"
        options="themes"
        set-value="setTheme(value)")