.container(ng-show='isVisible(8, step)')
  .left.form
    .row
      heading
      h2.subtitle
        | Language Option

      dropdown(
        default-text="Select a language"
        selected-value="selectedLanguage"
        options="languageNames",
        set-value="setLanguage(value)")
