.container.select-title(ng-show='isVisible(3, step)')
  .left.form
    .row
      heading
      .section-title
        h2.subtitle
          | Title

        input(type="text" class="input-text" ng-model="title" placeholder="Enter title here")

        input(type="text" class="input-text" ng-model="subtitle" placeholder="Enter subtitle here (optional)")