.container.select-title(ng-show='isVisible(8, step)')
  .left.form
    .row
      heading
      .section-title
        h2.subtitle
          | Advanced Customization
        input(type="text" class="input-text" ng-model="pollingLocationLabel" placeholder="Polling Location Label")

        //- input(type="text" class="input-text" ng-model="subtitle" placeholder="Enter subtitle here (optional)")