doctype html.no-js(ng-app='Application', lang='')
head
  meta(charset='utf-8')
         
  meta(http-equiv='x-ua-compatible', content='ie=edge')
       
  title
       
  meta(name='description', content='')
       
  meta(name='viewport', content='width=device-width, initial-scale=1')
       
  link(rel='apple-touch-icon', href='apple-touch-icon.png')
  // Place favicon.ico in the root directory
  link(rel='stylesheet', href='css/normalize.css')
       
  link(rel='stylesheet', href='css/main.css')
       
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
       
  script(type='text/javascript', src='js/vendor/angular.js')
     
  body(ng-controller='ApplicationController as applicationController')
    .container(ng-show='step == 0', ng-init='step = 2')
      .left.form
        .row
          img.vip-logo(src='img/vip-logo.png')
                     
          h1.vip-name
            | Voting Information Project {{ step }}

        .row
          h1.title(style="white-space:pre")
            | Welcome
            | Place copy here

        .row.text-box
          span
            | Lorem ipsum Incididunt ullamco labore aliqua culpa pariatur sed. Lorem ipsum Voluptate ea velit nostrud Duis aliquip consectetur magna consequat. Lorem ipsum Qui ut aute minim aute dolor aliqua qui laborum ad esse. Lorem ipsum Sed in Excepteur Ut magna enim. Lorem ipsum In minim ex fugiat laborum commodo. Lorem ipsum Est quis consectetur nostrud amet incididunt incididunt laborum. Lorem ipsum Laboris dolore ad amet in cupidatat ut cillum ea anim in. Lorem ipsum Deserunt voluptate consectetur voluptate Excepteur magna pariatur.

      .right.preview
        | Placeholder

      .navigation
        button.get-started.next(ng-click='step = step + 1')
          | Get Started

    .container(ng-show='step == 1')
      .left.form
        .row
          h2.subtitle(style="white-space:pre")
            | Step {{ step }} of 8
            | Select your theme

          .dropdown
            .dropdowns(ng-click='showThemes = !showThemes')
              span {{ selectedTheme  &quot;Theme One&quot;}}
                             
              .dropdown-button
                span.dropdown-arrow
                         
            ul(ng-class='{open: showThemes}', ng-init="themeOptions = ['Theme One', 'Theme Two', 'Theme Three']")
              li(ng-repeat='themeOption in themeOptions', ng-mouseover='$parent.selectedTheme = themeOption', ng-click='$parent.showThemes = !showThemes')
                | {{ themeOption }}
             
      .right.preview
        .dropdown.small
          .dropdowns(ng-click='showDeviceDropdown = !showDeviceDropdown')
            span {{ selectedDevice  &quot;Desktop&quot; }}
                         
            .dropdown-button
              span.dropdown-arrow
                     
          ul(ng-class='{open: showDeviceDropdown}', ng-init="deviceOptions = ['Desktop', 'Tablet', 'Phone']")
            li(ng-repeat='option in deviceOptions', ng-mouseover='$parent.selectedDevice = option', ng-click='$parent.showDeviceDropdown = !showDeviceDropdown')
               {{option}}
             
      .navigation
        button.prev(ng-click='step = step - 1') Prev
                 
    //-     button.next(ng-click='step = step + 1') Next
         
    //- .container(ng-show='step == 2')
    //-   .left.form
    //-     .row
    //-       h2.subtitle
    //-          Step {{ step }} of 8
    //-         br
    //-          Logo
                     
    //-       ul.options(ng-init="logoOptions = ['State Seal', 'Logo', 'None']; selectedLogoOption = logoOptions[0]")
    //-         li.option(ng-repeat='logoOption in logoOptions', ng-class='{selected: $parent.selectedLogoOption == logoOption}', ng-click='$parent.selectedLogoOption = logoOption')
    //-            {{ logoOption }}
                     
    //-       .logo-url(ng-show="selectedLogoOption == 'Logo'")
    //-         h2.subtitle
    //-            Enter URL
                         
    //-         input(type='text', name='url', ng-model='logoUrl')
                     
    //-       .dropdown(ng-show="selectedLogoOption == 'State Seal'")
    //-         .dropdowns(ng-click='showThemes = !showThemes')
    //-           span {{ selectedTheme  &quot;Theme One&quot;}}
                             
    //-           .dropdown-button
    //-             span.dropdown-arrow
                         
    //-         ul(ng-class='{open: showThemes}', ng-init="themeOptions = ['Alabama', 'Alaska', 'Bridgehampton', 'Compton', 'Delaware', 'Delancey St.', 'Edinburgh', 'Frankfurt', 'Georgia']")
    //-           li(ng-repeat='themeOption in themeOptions', ng-mouseover='$parent.selectedTheme = themeOption', ng-click='$parent.showThemes = !showThemes')
    //-              {{ themeOption }}
             
    //-   .right.preview
    //-     img(src='//{{logoUrl}}')
                 
    //-     h1  {{ logoUrl }} 
                 
    //-     h1  {{ logoUrl.$valid }} 
             
    //-   .navigation
    //-     button.prev(ng-click='step = step - 1') Prev
                 
    //-     button.next(ng-click='step = step + 1') Next
         
    //- .container(ng-show='step == 2')
    //-   .left.form
    //-     .row
    //-       h2.subtitle
    //-          Step {{ step }} of 8
    //-         br
    //-          Logo
                     
    //-       ul.options(ng-init="logoOptions = ['State Seal', 'Logo', 'None']; selectedLogoOption = logoOptions[0]")
    //-         li.option(ng-repeat='logoOption in logoOptions', ng-class='{selected: $parent.selectedLogoOption == logoOption}', ng-click='$parent.selectedLogoOption = logoOption')
    //-            {{ logoOption }}
                     
    //-       .logo-url(ng-show="selectedLogoOption == 'Logo'")
    //-         h2.subtitle
    //-            Enter URL
                         
    //-         input(type='text', name='url', ng-model='logoUrl')
                     
    //-       .dropdown(ng-show="selectedLogoOption == 'State Seal'")
    //-         .dropdowns(ng-click='showThemes = !showThemes')
    //-           span {{ selectedTheme  &quot;Theme One&quot;}}
                             
    //-           .dropdown-button
    //-             span.dropdown-arrow
                         
    //-         ul(ng-class='{open: showThemes}', ng-init="themeOptions = ['Alabama', 'Alaska', 'Bridgehampton', 'Compton', 'Delaware', 'Delancey St.', 'Edinburgh', 'Frankfurt', 'Georgia']")
    //-           li(ng-repeat='themeOption in themeOptions', ng-mouseover='$parent.selectedTheme = themeOption', ng-click='$parent.showThemes = !showThemes')
    //-              {{ themeOption }}
             
    //-   .right.preview
    //-     img(src='//{{logoUrl}}')
                 
    //-     h1  {{ logoUrl }} 
                 
    //-     h1  {{ logoUrl.$valid }} 
             
    //-   .navigation
    //-     button.prev(ng-click='step = step - 1') Prev
                 
    //-     button.next(ng-click='step = step + 1') Next
         
    script(src='js/app.js')

