
<div ng-class="myClass" class="dropdown">
  <div ng-click="showDropdown = !showDropdown" class="dropdowns"><span>{{ selectedValue  || options[0] }}</span>
    <div class="dropdown-button"><span class="dropdown-arrow"></span></div>
  </div>
  <ul ng-class="{open: showDropdown, 'no-scrollbar': options.length &lt; 4}">
    <li ng-repeat="option in options" ng-mouseover="setValue({value: option}); $parent.selectedValue = option" ng-click="setValue({value: option}); $parent.selectedValue = option; $parent.showDropdown = !showDropdown">{{ option }}</li>
  </ul>
</div>