.navigation
  button.get-started.next(ng-click='step = step + 1' ng-show="step == 0") Get Started

  button.prev(ng-click='step = step - 1' ng-show="step > 0") Prev

  button.next(ng-click='step >= 8 || (step = step + 1)' ng-show="step > 0")
    span(ng-class="{invisible: step == 8}") next