
<div ng-class="selectedDeviceNewTry" class="device-container">
  <svg ng-show="selectedDevice == 'tablet'" ng-attr-width="{{deviceDimensions[selectedDevice][0]}}" ng-attr-height="{{deviceDimensions[selectedDevice][1]}}" x="0px" y="0px" viewbox="0 0 525.9 354" class="device-preview tablet">
    <path d="M525.9,328.1V25.9C525.9,11.6,514.4,0,500,0H25.9C11.6,0,0,11.6,0,25.9v302.1C0,342.4,11.6,354,25.9,354H500      C514.3,354.1,525.9,342.4,525.9,328.1z M501.1,177c0,1.9-1.5,3.2-3.2,3.2c-1.7,0-3.2-1.5-3.2-3.2s1.5-3.2,3.2-3.2      C499.6,173.8,501.1,175.2,501.1,177z M12.2,177c0-7.2,5.9-13.2,13.2-13.2s13.2,5.9,13.2,13.2s-5.9,13.2-13.2,13.2      S12.2,184.2,12.2,177z M52.2,336.4c-0.5,0-0.9-0.4-0.9-0.9V18.6c0-0.5,0.4-0.9,0.9-0.9h421.9c0.5,0,0.9,0.4,0.9,0.9v316.9      c0,0.5-0.4,0.9-0.9,0.9H52.2z"></path>
    <svg x="50" y="17" width="428" height="320" viewbox="0 0 136 102" preserveAspectRatio="xMinYMin slice">
      <defs>
        <pattern id="theme" patternUnits="userSpaceOnUse" width="135" height="102">
          <image ng-attr-xlink:href="{{ themeUrl(selectedTheme) | unsafeResource }}" xlink:href="" x="0" y="0" width="135" height="102"></image>
        </pattern>
      </defs>
      <rect fill="url(#theme)" xlink:href="" x="0" y="0" width="135" height="102"></rect>
      <image ng-show="selectedLogoOption == 'State Seal'" ng-attr-xlink:href="{{ stateSealUrl(selectedState) | unsafeResource }}" xlink:href="" x="60" y="5" width="15" height="15"></image>
      <image ng-show="selectedLogoOption == 'Logo'" ng-attr-xlink:href="{{ logoURL(logoUrl) | unsafeResource }}" xlink:href="" x="60" y="5" width="15" height="15"></image>
      <text x="67" y="29" text-anchor="middle" font-size="10px">{{ title }}</text>
      <text x="67" y="37" text-anchor="middle" font-size="7px">{{ subtitle }}</text>
      <rect fill="#bbb" x="27" y="40" width="80" height="30"></rect>
      <rect fill="#fff" x="37" y="50" width="60" height="5"></rect>
    </svg>
  </svg>
</div>