<div class="modal" id="mail-only">
  <h2>Mail-only Election</h2>
  <p>
  </p>
  {{#each data.state.0.local_jurisdiction.electionAdministrationBody.electionOfficials}}
  {{> election-official this}}
  {{/each}}
  <p><button>Continue</button></p>
</div>